{% extends 'base.html' %}

{% block title %}
О приложении
{% endblock %}

{% block body %}
<div class="container">
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-width">
    <h1 class="display-4">О приложении</h1>
    <br>
    <p class="lead part1">Для того, чтобы обучить нейронную сеть, был проведен опрос 800 людей, которые оценивали картинки и описания чая, они отвечали, насколько картинка и описание привлекательные. Сети обучались на этих данных и показали высокую производительность, что позволяет с уверенностью сказать, что продукт довольно точно передает объективную точку зрения людей насчет того или иного атрибута карточки. Более подробно про метрики и оценивание можно посмотреть в документации.</p>
    <p class="lead part 2"> Поскольку модели обучались на данных с информацией о чае, то и наилучший результат они покажут на товарах чая. Для прочих категорий рекомендуется переобучать модели конкретно под них. В дальнейшем есть вероятность того, что продукт будет доработан, и другие категории товара будут тоже доступны для оценки</p>

</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-width">
    <h1 class="display-4">Рекомендации по картинкам и описаниям</h1>
    <br>
    <p class="lead part1"> В процессе исследования данных и интерпретации обученных нейронных сетей некоторые закономерности и признаки привлекательной атрибутики товаров были выявлены:</p>
    <br>
    <h1 class="subdisplay">Изображение товара</h1>
        <ul>
            <li>Делать качественные фотографии с дальнейшей обработкой</li>
            <li>Не пренебрегать помощью дизайнера в стилизации фото</li>
            <li>Добавлять крупный короткий текст с информацией о бренде и продукте</li>
            <li>Не использовать "дешевые" цвета (слишком яркие) и большое разнообразие цветовой палитры</li>
        </ul>
    <br>
    <div class="image-container">
        <div>
            <br>
            <h1 class="subdisplay2">Пример позитивных и негативных изображений, влияющих на привлекательность товара</h1>
            <br>
            <img src="{{ url_for('static', filename='images/cv.png') }}">
        </div>
    <p class="lead part1">Верхняя картинка оказывает позитивное влияние на привлекательность, нижняя- негативное. Справа от каждой картинки показан так называемый gradient cam нейронной сети, иными словами - чем краснее зона на картинке- тем сильнее на нее обращает внимание модель при оценивании привлекательности картинки</p>
    <br>
    <h1 class="subdisplay">Описание товара:</h1>
        <ul>
            <li>Использовать "уютные" и "дорогие" слова в описаниях (например "чаепитие", "аромат", "тонкий") </li>
            <li>Заставить описанием читателя представить, как он или она пьет этот чайй</li>
            <li>Использовать много прилагательных</li>
            <li>Меньше использовать разговорную лексику</li>
            <li>Сильно не фокусироваться на расстройствах, которые чай поможет вылечить</li>
            <li>Не писать маркетинговые акции в описании к товару</li>
        </ul>
    
    <div class="image-container">
        <div>
            <br>
            <h1 class="subdisplay2">Пример позитивных и негативных слов, влияющих на привлекательность товара</h1>
            <br>
            <img src="{{ url_for('static', filename='images/nlp.png') }}">

        </div>
    <br>
    <p class="lead part1">Даны облака слов, собранные из позитивных и негативных примеров описаний. Слева слова, которые позитивно влияют на привлекательность товара, справа слова, оказывающие негативное влияние. Чем больше слово, тем сильнее оно влияет либо на позитивность класса, либо на негативность, в зависимости от картинки</p>
    <br>
    <p class="lead part1">Таким образом, соблюдая рекомендации выше, можно сильно увеличить привлекательность товара на маркетплейсе</p>

</div>
</div>
{% endblock %}